.registration-form__container {
    margin: 30px 20px;
}

.registration-form__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.registration-form__input,
.registration-form__input-error {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 10px 15px;
    margin-bottom: 17px;
    font-size: 16px;
}

.registration-form__input-error {
    border: 2px solid red;
    padding: 9px 14px;
    margin-bottom: 2px;
}

.registration-form__label {
    margin-bottom: 2px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.registration-form__error-validation {
    font-weight: 700;
    font-size: 13px;
    color: red;
}

.registration-form__textarea,
.registration-form__textarea-error {
    width: 100%;
    max-width: 526px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-bottom: 17px;
}

.registration-form__textarea-error {
    border: 2px solid red;
    padding: 9px 14px;
    margin-bottom: 2px;
}

.registration-form__select {
    height: 40px;
    border-radius: 4px;
    padding: 10px 13px;
    background-color: white;
    border: 1px solid #000000;
    font-size: 16px;
    margin-bottom: 15px;
}

select {
    cursor: pointer !important;
}